{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>À Propos</h1>
    <p>Bienvenue sur la page À Propos. Découvrez qui nous sommes et notre mission chez Canadaim.</p>
</div>
{% endblock %}
