{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="land">
    <h1>Bienvenue sur le site AccompaCanada</h1>
    <p>Ceci est la page d'accueil.</p>
    <h2>Derniers infos</h2>
    <h2>Pourquoi nous?</h2>
</div>
{% endblock %}