{% extends 'base.html.twig' %}

{% block title %}Sponsor{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Sponsor</h1>
    <p>Bienvenue sur la page Sponsor. En savoir plus sur les programmes de parrainage et les obligations du parrain.</p>
</div>
{% endblock %}
