{% extends 'base.html.twig' %}

{% block title %}Travail{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Travail</h1>
    <p>Bienvenue sur la page Travail. Explorez les opportunités d'emploi et les programmes de travail au Canada.</p>
</div>
{% endblock %}
