{% extends 'base.html.twig' %}

{% block title %}Étude{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Étude</h1>
    <p>Bienvenue sur la page Étude. Consultez les programmes d'études et les établissements d'enseignement au Canada.</p>
</div>
{% endblock %}
