{% extends 'base.html.twig' %}

{% block title %}Immigration{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Immigration</h1>
    <p>Bienvenue sur la page Immigration. Découvrez les différents programmes et services d'immigration offerts par AccompaCanada.</p>
</div>
{% endblock %}
